<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div  style="background-color: cadetblue ; font-family: Calibri;">
            <hr>
            <i class="fa fa-download" style="font-size:48px; color: darkred; display: inline-block" ></i>
            <div style="display: inline-block; background-color: transparent">
                <a> <b>Click</b> </a>
                <a href="{{ url_for('static', filename = 'Tal Yachini CV.pdf') }}"  style="font-size: larger;" download>Here</a>
                <a><b>To Download Tal's CV as PDF</b></a>
            </div>


    </div>
</footer>