<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert User</title>
</head>
<body>
    <h1>Create a New User</h1>
    <form action="/insert_user" method="POST">
        <label for="first_name">First Name:</label>
        <br>
        <input name = "First Name" id="first_name">
        <br>
        <label for="last_name">Last Name:</label>
        <br>
        <input name = "Last Name" id="last_name">
        <br>
        <label for="email">Email:</label>
        <br>
        <input name = "Email" id="email" type="email">
        <br>
        <label for="pass">Password:</label>
        <br>
        <input name = "Password" id="pass" type="password">
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>