<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <h1>All the users:</h1>
    <ul>
        {% if users %}
            {% for user in users %}
                <li>
                {{ user.id }}: <b>{{ user.first_name }} {{ user.last_name }}</b> ({{ user.email }})
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    <h2>Delete user:</h2>
    <form action ="/delete_user" method="GET">
        User ID: <label> <input name="id" type="text"> </label>
        <input type="submit">
    </form>

</body>
</html>